
html,
body {
	background-color: #2e536c;
    background-image: -moz-linear-gradient(top,#fafafa,#2e536c);
    background-image: -ms-linear-gradient(top,#fafafa,#2e536c);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#2e536c));
    background-image: -webkit-linear-gradient(top,#fafafa,#2e536c);
    background-image: -o-linear-gradient(top,#fafafa,#2e536c);
    background-image: linear-gradient(top,#fafafa,#2e536c);
    background-repeat: repeat-y;
    border: 0 none;
}
.top-nav{
	background-color: #fff;
	margin: 0;
	padding: 20px;
}
.logo img{
	width: 98%;
}
.title h1{
	color: #0F4476;
	margin-bottom: 0;
	font-weight: bold;
	text-transform: uppercase;
  font-size: 22px;
}
.title h3{
	color: #0F4476;
	margin: 10px 0;
	font-size: 17px;
}
/*.navbar button  .icon-bar{
	background-color: #fff;
}
.navbar{
	background-color: #407ea9;
	margin-bottom: 0;
	padding: 12px;
	border-radius: 0;
}*/
/*.collapse.navbar-collapse {
    display: inline;
    text-align: center;
    width: 100%;
}*/
/*.navbar ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.navbar ul li a{
	color: #fff;
	padding: 13px;
	text-transform: uppercase;
	font-size: 16px;
}
.navbar ul li a:hover{
	text-decoration: underline;
}
.navbar ul li .dropdown-menu a{
	color: #000;
	padding: 13px;
	text-transform: uppercase;
	font-size: 16px;
}*/
.content{
	background-color: #fff;
	padding: 10px;
	float: left;
	width: 100%;
}
.content-left{
	background-color: #407ea9;
	padding: 10px;
	border-right: 1px solid #e1e1e1;
}
/*.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #407ea9; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}*/
/*.vertical-menu a {
    color: #fff;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.vertical-menu a:hover {
    background-color: #fff;
    color: #407ea9;
}

.vertical-menu a.active {
    background-color: #fff;
    color: #407ea9;
}*/
#accordion h5 button{
  color: #fff;
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
#accordion ul{
  list-style: none;
}
#accordion ul li a{
  color: #fff; line-height:80%;
  
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;;
}
/*.content-right{
	background-color: #fff;
	padding: 10px;
}*/
table{
  text-transform: capitalize;
}
.content-right h1{
	color: #000;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	margin: 10px 0 0;
	text-decoration: underline;
}
.court-image{
	margin-top: 30px;
	margin-bottom: 40px;
}
.court-image h2{ 
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 18px;
}
.court-image img{
	display: inline-block;
    text-align: center;
    width: 100%;
}
.court-image p{
	margin: 10px 0;
	font-size: 15px;
	line-height: 1.5;
}
.content-right-contact{
	border-left: 1px solid #e1e1e1;
	padding-left: 10px;
}
.content-right-contact h3{
	color: #407ea9;
	font-size: 20px;
	font-weight: bold;
}
.content-right-contact a{
	color: #4c721e;
	text-decoration: underline;
	font-size: 18px;
}
.left-cont1-cldr {
    margin: 2px;
    float: left;
    height: auto;
    width: 175px;
    padding-top: 5px;
    padding-right: 2px;
    padding-bottom: 5px;
    padding-left: 2px;
}
/** CALENDAR STARTS HERE **/

#calendar {
    color: #FFFFFF;
    font: 14px sans-serif;
    background-color: #6A0C0B;
    border: 1px solid #6A0C0B;
    border-collapse: separate;
    border-spacing: 5px;
    border-radius: 5px;
    min-width: 50px;
}

#monthrow th {
    color: #FBCA03 !important;
    background-color: #AA0505 !important;
    font: 30px sans-serif !important;
    border-radius: 5px;
    text-align: center;
    padding: 14px 20px 14px;
    font-size: 16px;
    font-weight: normal;
    width:300px;
}

#prev, #next {
    color: #FBCA03;
    font-size: 16px;
    padding: 10px 10px;
    background: none;
    font-weight: bold;
    border: none;
}

#prev {
    float: left;
}

#next {
    float: right;
}

#next:disabled,
#prev:disabled {
    color: #AA0505 !important;
}

#next:hover:enabled,
#prev:hover:enabled {
    color: #FBCA03 !important;
}


#calendar td {
    text-align: center;
    padding: 6px 5px;
}


.daysoftheweek th {
    text-align: center;
    padding-top: 6px 15px;
}

.current-date {
    border-radius: 5%;
    color: #F9F9F9 !important;
    background-color: #F9BA32;
}
.ph-image{
	float: left;
	width: 100%;
}
.ph-image img{
	margin: 10px 0;
}
.jjmc{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.jjmc img {
    margin-left: auto;
    margin-right: auto;
}
.media-content{
	border: 1px solid #eee;
    height: 200px;
    overflow-y: scroll;
    padding: 10px 10px;
    width: 100%;
    background-color: #fff;
    text-align: justify;
}

/* width */
.media-body::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.media-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
}
 
/* Handle */
.media-body::-webkit-scrollbar-thumb {
    background: #000; 
    border-radius: 20px;
}

/* Handle on hover */
.media-body::-webkit-scrollbar-thumb:hover {
    background: #000; 
}

/** CALENDAR ENDS HERE **/

.footer{
	background-color: #407ea9;
	padding: 10px 20px;
	margin-top: 5px;
	float: left;
	width: 100%;
}
.footer h4{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	position: relative;
}
.footer h4:after{
	background: none repeat scroll 0 0 #FFFFFF;
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100px;
}
.footer ul{
	display: block;
	padding: 0;
	width: 50%;
	float: left;
}
.footer ul li{
	list-style: none;
	line-height: 1.8;
}
.footer ul li i.fa{
	color: #fff;
}
.footer ul li a{
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	padding-left: 5px;
}



* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a { text-decoration: none; }
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%; line-height:2;
}

.nav-fostrap {
  display: block;
  margin-bottom: 15px 0;
  background: #407ea9;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 3px;
}

.nav-fostrap ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

.nav-fostrap li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  font-size: 14;
  color: #def1f0;
}

.nav-fostrap li a {
  padding: 15px 20px;
  font-size: 14;
  color: #def1f0;
  display: inline-block;
  outline: 0;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-fostrap li:hover ul.dropdown { display: block; }

.nav-fostrap li ul.dropdown {
  position: absolute;
  display: none;
  width: 200px;
  background: #2980B9;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding-top: 0;
}

.nav-fostrap li ul.dropdown li {
  display: block;
  list-style-type: none;
}

.nav-fostrap li ul.dropdown li a {
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  display: block;
  font-weight: 400;
}

.nav-fostrap li ul.dropdown li:last-child a { border-bottom: none; }

.nav-fostrap li:hover a {
  background: #fff;
  color: #0F4476 !important;
}

.nav-fostrap li:first-child:hover a { border-radius: 3px 0 0 3px; }

.nav-fostrap li ul.dropdown li:hover a { background: rgba(0,0,0, .1); }

.nav-fostrap li ul.dropdown li:first-child:hover a { border-radius: 0; }

.nav-fostrap li:hover .arrow-down { border-top: 5px solid #fff; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #def1f0;
  position: relative;
  top: 15px;
  right: -5px;
  content: '';
}
.title-mobile {
  display: none;
}
 @media only screen and (max-width:900px) {

.nav-fostrap {
  background: #fff;
  width: 200px;
  height: 100%;
  display: block;
  position: fixed;
  left: -200px;
  top: 0px;
  -webkit-transition: left 0.25s ease;
  -moz-transition: left 0.25s ease;
  -ms-transition: left 0.25s ease;
  -o-transition: left 0.25s ease;
  transition: left 0.25s ease;
  margin: 0;
  border: 0;
  border-radius: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  z-index: 99999999;
}
.title-mobile {
  position: fixed;
  display: block;
    top: 10px;
    font-size: 20px;
    left: 100px;
    right: 100px;
    text-align: center;
    color: #FFF;
}
.nav-fostrap.visible {
  left: 0px;
  -webkit-transition: left 0.25s ease;
  -moz-transition: left 0.25s ease;
  -ms-transition: left 0.25s ease;
  -o-transition: left 0.25s ease;
  transition: left 0.25s ease;
}

.nav-bg-fostrap {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 50px;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #03A9F4;
  padding: 12px 0 0 10px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  z-index: 9999999999;
}

.navbar-fostrap {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  cursor: pointer;
  margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
}

.navbar-fostrap span {
  height: 2px;
  background: #fff;
  margin: 5px;
  display: block;
  width: 20px;
}

.navbar-fostrap span:nth-child(2) { width: 20px; }

.navbar-fostrap span:nth-child(3) { width: 20px; }

.nav-fostrap ul { padding-top: 50px; }

.nav-fostrap li { display: block; }

.nav-fostrap li a {
  display: block;
  color: #505050;
  font-weight: 600;
}

.nav-fostrap li:first-child:hover a { border-radius: 0; }

.nav-fostrap li ul.dropdown { position: relative; }

.nav-fostrap li ul.dropdown li a {
  background: #2980B9 !important;
  border-bottom: none;
  color: #fff !important;
}

.nav-fostrap li:hover a {
  background: #03A9F4;
  color: #fff !important;
}

.nav-fostrap li ul.dropdown li:hover a {
  background: rgba(0,0,0,.1); !important;
  color: #fff !important;
}

.nav-fostrap li ul.dropdown li a { padding: 10px 10px 10px 30px; }

.nav-fostrap li:hover .arrow-down { border-top: 5px solid #fff; }

.arrow-down {
  border-top: 5px solid #505050;
  position: absolute;
  top: 20px;
  right: 10px;
}

.cover-bg {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
}
.jjcs-contact{
	float: left;
	width: 100%;
}
.jjcs-contact h3{
	background: #333; padding: 5px; color: #fff;cursor: pointer;font-size: 18px;
}
.jjcs-contact h4{
	font-size: 15px;
	line-height: 23px;
}
@media only screen and (max-width:1199px) {
 	.container{ 
 		width: 96%;
	}
	.fixed-top {
	  	position: fixed;
	  	top: 0;
	  	right: 0;
	  	left: 0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
	.navbar ul li a {
	    padding: 7px;
	    font-size: 12px;
	}
	.title h1{
		font-size: 20px;
	}
	.title h3{
		font-size: 14px;
	}
	.footer ul{
		width: 100%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 900px){
	.top-nav{
		margin-top: 60px;
	}
}
@media only screen and (max-width: 767px){
	.logo{
		display: block;
		text-align: center;
		margin-top: 40px;
	}
	.logo img{
		display: inline-block;
		width: 20%;
	}
	.title{
		text-align: center;
	}
	.title h1{
		font-size: 28px;
	}
	.footer ul{
		width: 100%;
	}
}
@media only screen and (min-width: 568px) and (max-width: 767px){
	.content-left-width{
		width: 40%;
		float: left;
	}
	.content-right-width{
		width: 60%;
		float: left;
	}
	.content-left{
		margin-top: 70px;
	}
	.content-right{
		margin-top: 20px;
}
@media only screen and (max-width: 568px){
	.content-left{
		margin-top: 90px;
	}
	.footer ul{
		display: block;
		padding: 0;
		width: 100%;
		float: left;
	}
}

